/*Without changing anything in the html, add the following styles using advanced selectors*/


/* Give the Header element a background color */
header {
    background-color: #F469A9;
    list-style-type: none;
}

/* Center Everything in Header  and footer */
header, footer {
    position: relative;
    text-align: center;
    align-content: center;
}

/* All Text to Helvetica */
* {
    font-family: helvetica, sans-serif;
}

/* All links colors gray*/
a {
    color: gray;
}

/* All links hover color red*/
a:hover {
    color: red;
}

/* All Links Visted Color black*/
a:visited {
    color: black;
}

/*Footer Disclaimer Text to be .5 em*/
footer p {
    font-size: .5em;
}

/* Remove Bullet Points from Header Navigation Links */
header ul {
    list-style-type: none;
}

/* All Post's Comment Links Italicized, Orange and Remove the Underline */
a[href="#comments"] {
    color: orange;
    font-style: italic;
    text-decoration: none;
}

/* All Post's Comment Links Show Underline on Hover */
a[href="#comments"]:hover {
    text-decoration: underline;;
}

/* All Post's Author's Links Bold and Blue, with no Underline */
h3 a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

/* Article Paragraph Text should have line height of 200%*/
article p {
    line-height: 200%;
}

/* The First Letter of each Article be 2em */
.post-content p:first-of-type::first-letter {
    font-size: 2em;
}

/* The First Image in every Article should have Rounded Corners*/
.post-content img:first-child {
    border-radius: 20px;
}

/* The Top-Most Top Cat Should have a Golden Background */
#top-cats section:first-of-type {
    background-color: gold;
}

/* The 2nd-Most Top Cat Should have a Silver/gray Background */
#top-cats section:nth-of-type(2n) {
    background-color: silver;
}

/* The 3rd-Most Top Cat Should have a Bronze/brown Background */
#top-cats section:last-of-type {
    background-color: burlywood;
}

/* Every other Article's Post-Content Background Color to a Light Grey */
article {
    background-color: lightgrey;
}

/* All Top Kitten's Profile Photos Rounded */
#top-cats img {
    border-radius: 20px;
}

/*** BONUS ***/

/* Add a cat emoji before a Cat's Name (in the heading content)*/


/* Top-most Top Cat has a trophy emoji before name */


/* Use Google Fonts to Change h1 & h2 fonts to Lobster */
